# Google OAuth Client ID para Smart Park
VITE_GOOGLE_CLIENT_ID=tu_cliente_id_aqui.apps.googleusercontent.com

# PayPal Client ID
VITE_PAYPAL_CLIENT_ID=tu_paypal_client_id_aqui
VITE_PAYPAL_MODE=sandbox
VITE_PAYPAL_CURRENCY=USD
VITE_PAYPAL_EXCHANGE_RATE=0.27
