# Google OAuth Client ID para Smart Park
VITE_GOOGLE_CLIENT_ID=tu_cliente_id_aqui.apps.googleusercontent.com

# PayPal Client ID
VITE_PAYPAL_CLIENT_ID=BAADoNYpVsJd20zFA2pZHva0nt7lYj4GnPqKFDFI_7Cdta0qd-FqG4g8wmndZYuPPcEAmSO-ukcu2mJDR0
VITE_PAYPAL_MODE=sandbox
VITE_PAYPAL_CURRENCY=USD
VITE_PAYPAL_EXCHANGE_RATE=0.27
